<div class="ui inverted card">
  <div class="content">
    <h2 class="ui center aligned header">Latest reading</h2>
    <table class="ui definition table">
      <tbody>
        <tr>
          <td><i class="clock big icon"></i> Date/Time</td>
          <td>
            {{last.date}}
            <br>
            {{last._id}}
            </td>
        </tr>
        <tr>
          <td><i class="temperature high big icon"></i> Temperature</td>
          <td>
            {{last.temperature}} &#176C
          </td>
        </tr>
        <tr>
          <td><i class="percentage big icon"></i> Humidity</td>
          <td>
            {{last.humidity}} %
          </td>
        </tr>
        <tr>
          <td><i class="chart bar big icon"></i> Pressure</td>
          <td>{{last.pressure}} hPa</td>
        </tr>
        <tr>
          <td><i class="sun big icon"></i> Light</td>
          <td>{{last.lux}} lux</td>
        </tr>
        <tr>
          <td><i class="wind big icon"></i> Wind</td>
          <td>
            {{last.wind_speed}} km/hr
            <br>
            Direction: {{last.wind_dir}}
          </td>
        </tr>
        <tr>
          <td><i class="cloud rain big icon"></i> Rain</td>
          <td>
            {{last.rainfall_period}} mm in last 15 mins
            <br>
            {{last.rainfall_per_hour}} mm/hr
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>